body
{
    font-family:'Ubuntu', sans-serif;
    background-image: url(images/bg.svg);
}
a
{
    color: #3f3d56;    
}
a:hover
{
    color: #7B5EC6;
}
h1 {
    white-space: pre-line;
    font-size: 50px;
  }
.btn.border-none
{
    background-color: #5D3EBD;
    color: white;
    width: 10rem;
}
.btn.border-none:hover
{
    background-color: #7B5EC6;
}
.btn.border-dark
{
    background-color: white;
    width: 10rem;
}
.btn.border-dark:hover
{
    background-color: lightgray;
}
.about
{
    color: white;
    text-align: center;
    background-color: #5D3EBD;
}
#aboutspan
{
    padding-left: 20rem;
    padding-right: 20rem;
}
.footericon
{
 color: aliceblue;   
}
.modal-xl {
    max-width: 60%; 
}