html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    background-color: #2e3033;
    color: white;
    font: sans-serif 21px;
}
#container
{
    margin: 0;
    padding: 0;
}
#bottom
{
    margin:0;
    padding: 0;
}
.animation
{
    position: relative;
}

header
{

    height:900px;
    background-attachment: fixed;
   /* background-color: #1c54a6;*/
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.title
{
    margin-top: 41px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    text-transform:uppercase;
}
.letter
{
    text-align: justify;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    padding: 10px;
}
/*pasek postępu*/
progress
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    animation: bar 2.5s 0.5 both;
    justify-content: center;
    align-items: center;
    float: left;
    -webkit-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image:
    -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 100%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top,
    rgba(255, 255, 255, .25),
    rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, rgb(204, 0, 143), rgb(204, 0, 143));
}
.procent
{
    margin-top: 25px;
    margin-bottom: -30px;
    color: white;
    font-weight: bold;
}
.c1, .c2
{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.c4
{
    margin: 0;
    width: 100%;
}
.c5
{
position: relative;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.c3
{
    margin: 0;
    width: 100%;
}


main
{
    position: absolute;
    transition:1s;
    width: 100px;
    height: 400px;
    animation:top 2s 0.3s both;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.images
{
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}
.starttech
{
    width: 136px;
    height: 140px;
    float: left;
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    margin-right: 5px;
    margin-left: 10px;
}
.kafelki
{
    margin: 0;
    padding: 0;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.fb,.mail
{
    background-color: #3b5998;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    display: block;
    margin-top: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mail
{
    background-color: #393c40;
    float: left;
}
.cent{
    text-align: center;
    margin-top: 35px;
    font-size: 25px;
}
#footer
{
    margin: 0;
    padding: 12px;
    font: 45px Arial;
    text-transform: uppercase;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #333856;
    margin-top: 12px;
}
/*przycisk do góry*/
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 30px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    transition: background-color .3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button::after {
    content: "^";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
a[id="button"]
  {
    color: white;
    text-decoration: none;
  }
  /*pasek przewijania*/
::-webkit-scrollbar
{
    width: 0;
}
#ScrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: rgb(75, 73, 74);
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #646663, #202024);
    animation: przewijanie 5s linear infinite;
    z-index: 1000;
}
@keyframes przewijanie
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #646663, #202024);
    filter: blur(20px);
}
#progressbar::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #646663, #202024);
    filter: blur(20px);
}



.copy
{
    font-size: 16px;
}
.col-12
{
    padding: 0;
    margin: 0;
}
.col-4
{
    padding: 0 ;

}
.col-sm-4
{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.col-sm-6
{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
img
{
    margin-right: 10px;
    float: left;
    display: flex;
    width: 136px;
    height: 140px;
    position: relative;
    top: 10%;
    bottom:0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.tile
{
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.tile:hover
{
    display: block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    background-color: #4e71ba;
}

@keyframes top
{
  0%
  {
    opacity:0;
    transform:translateY(400px);
  }
  30%
  {
    opacity:1;
    transform:translateY(0%);

  }
  50%
  {
    width: 60%;
    height: 40%;
  }
  100%
  {
      height: 70%;
      width: 100%;
  }
}
@keyframes bar
{
    100%
    {
        width: 100%;
        height: 13%;
    }
}

